---
layout: default
---
<header>
  <h1 style="text-align:center">{{ site.title }}</h1>
  <p style="text-align:center; color:#19c4ac">█ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █<p>
  {%-if site.theme_config.show_description-%}
    <p style="text-align:center">{{ site.description }}</p>
  {%-endif-%}
  <meta name="viewport" content="width=device-width" charset="utf-8">
  <figure>
	  <img src="assets/prometheus.png" alt="Prometheus" style="width:100%" class="responsive">
	  <figcaption>Prometheus bringt der Menschheit das Feuer</figcaption>
  </figure>
</header>

<a href="https://s3.amazonaws.com/arena-attachments/371121/bdcdb0c3a2d4cb96dc189dedcebbac48.pdf"  style="text-align:left"> ◆ Prometheanism and its Critics</a>
<br>
<a href="https://www.museoreinasofia.es/sites/default/files/actividades/programas/cuadernodetrabaj4.1_tiziana.pdf"  style="text-align:left"> ◆ Red Stack Attack!</a>
<br>
<a href="https://revistes.ub.edu/index.php/oximora/article/view/31129/32436"  style="text-align:left"> ◆ Tecnopopulismo: entre Autonomía y Equivalencia</a>


{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}
